
.task-board-header{
   display: flex;
   justify-content: center;
   padding: 1rem;
   button{
       margin: 0 10px;
       border: 1px solid white;
   }
   #addColBtn{
       background-color: #2C3749;
   }
}

#task-board-container{
    display: flex;
    height: 60vh;
    width: 95vw;
    padding: 1rem;
    overflow: hidden;
    overflow-x: auto;
    margin: 0 auto;
}

.statusColumn{
    display: inline-block;
    position: relative;
    background-color:darkgray;
    min-width: 20%;
    justify-content: center;
    padding: 5px;
    margin: 0 20px;
    
    .status-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 1rem;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 2px 2px 0.5px;    
    }

    .status-title.to-do{border-bottom: 5px solid red;}
    .status-title.in-progress{border-bottom: 5px solid rgb(171, 76, 214);}
    .status-title.review{border-bottom: 5px solid rgb(50, 166, 83);}
    .status-title.completed{border-bottom: 5px solid rgb(251, 234, 0);}
   
    .task-list{
        margin-top: 3px;
        height: 85%;
    }

    .task-list li{
        margin: 20px 0;
        height: 10vh;
        padding-bottom: 20px;
    }

    .header-details{
        padding: 0;
    }

    .content-details span, .header-details span, .bottom-details span{
        margin: 0;
        font-size: 12px;
      }
    
    .task p{
        margin: 0;
        font-size: 12px;
        font-weight: bold;
    }
}


@media only screen and (max-width: 1100px){
    .statusColumn{
        min-width: 30%;
    }
}
@media only screen and (max-width: 800px){
    .statusColumn{
        min-width: 40%;
    }
}
@media only screen and (max-width: 600px){
    .statusColumn{
        min-width: 50%;
    }
}
@media only screen and (max-width: 500px){
    .statusColumn{
        min-width: 60%;
    }
}
@media only screen and (max-width: 400px){
    .statusColumn{
        min-width: 70%;
    }
}


